<!--The content below is only a placeholder and can be replaced.-->
<div class="container">

  <div style="text-align:center">
    <div class="container">
      <h3>Angular Image Project</h3>
      <br>
      <!-- <app-alert></app-alert> -->
      <!-- <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
      <button type="button" class="btn btn-success btn-s" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
        Upload an Image
      </button> -->


      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
      <button (click)="fileInput.click()">Select File</button>
      <button (click)="onUpload()">Upload!</button>

    </div>
  </div>
</div>